@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  display: block;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hamburger span {
  display: flex;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 8px;
}

@media screen and (max-width: 768px) {
  /* Add your mobile styles here */
}